@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.signup-container {
  /* margin-top: 5.5vh; */
  padding: 30vw;
  width: 100vw; 
}

.bg {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg > div {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
  font-size: 1.3em;
  font-family: Montserrat, sans-serif;
  text-align: center;
  width: 100vw;
  padding: 30px;
  text-shadow: 0 -1px #222;
}

.logoBG {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 45vw;
  background-color: lightgray;
  border-radius: 5px;
  opacity: 0.7;
}

#home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1506157786151-b8491531f063?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
}

#festivals {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1520095972714-909e91b038e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
}

#reviews {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1533137098665-47ca60257cec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
}

#aboutUs {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1429962714451-bb934ecdc4ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
}

.newsletter {
  color: #fff;
  font-family: Montserrat, sans-serif;
  background-image: linear-gradient(#f7e18c, #ffdd57);
  height: 120px;
  box-sizing: border-box;
  padding: 0 50px;
  box-shadow: 0 0 30px 10px #000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.newsletter > p {
  width: 100%;
  margin: 0;
}

.newsletter > div {
  margin-top: 15px;
}

.newsletter > div > input {
  color: #fff;
  font-family: Montserrat, sans-serif;
  background-color: #f8cd22;
  width: 200px;
  border: none;
  padding: 10px;
  transition: background-color 0.15s, color 0.15s; 
}

.newsletter > div > input:focus {
  color: #000;
  background-color: #fff;
}

.newsletter > div > button {
  color: #fff;
  font-family: Montserrat, sans-serif;
  background-color: #000599;
  border: none;
  padding: 10px 20px;
  transition: background-color 0.15s;
}

.newsletter > div > button:hover {
  background-color: #000470;
  cursor: pointer;
}

.newsletter > div > button:active {
  background-color: #0016a8;
}


.list-of-festivals-container {
  margin: 5.5vh;
  padding: 2.5vw;
}

.loadingText {
  text-align: center;
}

.signUp {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1541803944470-7ea3fa54303d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2706&q=80);
}

.formBG{
  background-color:white;
  border-radius: 10px;
  padding: 5px;
}

.logIn {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1468965949050-fcd0d3a590f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2665&q=80);
}